/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ================= 
        Layout
================= */
body {
  display: flex;
}

.wallpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  flex: 2;
}

.info {
  flex: 3;
}

.logo {
  display: flex;
  font-size: 42px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color:rgba(0,0,0, 0.5);
  color: white;
}

.logo img {
  max-width: 100px;
}