/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ================= 
        Layout
================= */
@font-face {
  font-family: norse-bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  display: flex;
  font-family: sans-serif;
}

.wallpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  flex: 2;
}

.info {
  flex: 3;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color:rgba(0,0,0, 0.5);
  color: white;
}

.logo img {
  max-width: 100px;
}

.logo-text {
  font-family: norse-bold, sans-serif;
  font-size: 100px;
}

.info-header {
  background-color: #E5E7EB;
  padding: 150px 50px 75px;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 600;
  height: 35vh;
}

.header-text {
  margin-bottom: 1em;
}

.main {
  height: 30vh;
  padding: 15px 50px;
}

.main-title {
  margin-bottom: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-field label {
  font-size: .6125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-field input {
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

.input-wrapper {
  display: flex;
  gap: 25px;
}

.footer {
  background-color: #E5E7EB;
  height: 35vh;
  padding: 0 50px;
}

.btn {
  background-color: #596D48;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  padding: .5rem 2rem;
  margin: 2rem 0;
}

.footer a {
  color: #596D48;
  text-decoration: none;
  font-weight: 700;
}